* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 0 30px;
    height: 80px;
}
header a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
header a:hover{
    color: rgb(168, 159, 159);
}
.header_first_part{
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.header_second_part{
    display: flex;
    gap: 10px;
}
.auth,.header_register{
    background-color: transparent;
    border:1px solid white ;
    color:white ;
    cursor: pointer;
    padding: 5px 15px;  
}
.auth:hover,.header_register:hover{
    background-color: white;
    color: black;
}

