* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1b22; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
}

.login,.password {
    background: #1f2129; 
    border: 1px solid #2e313d;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login input,.password input {
    background: transparent;
    border: none;
    outline: none;
    padding: 12px 20px;
    color: white; 
    width: 250px; 
    text-align: center;
}

input::-webkit-input-placeholder {
    color: #a0a0a0; 
    text-align: center;
}

.Enter {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#Enter {
    background: #1f2129; 
    color: white;
    border: 1px solid #2e313d;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}