* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1A1D; 
    font-family: 'Inria Sans', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 70vh; 
    flex-direction: column;
    padding-left: 10vh;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    color: white;
    margin-top: 5vh;
}
.info p{
    border-bottom:3px solid white ;
}
.ava{
    border-radius: 128px;
}
#edit {
    background-color: white;
    color: #1A1A1D;
    border: 2px solid white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
}
#edit:hover {
        background-color: transparent;
        color: white;
    }